In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("../../data/CAB_05_UT.csv", low_memory=False)

In [3]:
data.shape

(67342, 54)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67342 entries, 0 to 67341
Data columns (total 54 columns):
state_code                          67342 non-null int64
district_code                       67342 non-null int64
rural_urban                         67342 non-null int64
stratum                             67342 non-null int64
psu_id                              67342 non-null int64
ahs_house_unit                      67342 non-null int64
house_hold_no                       67342 non-null int64
date_survey                         67342 non-null object
test_salt_iodine                    67342 non-null int64
record_code_iodine                  67342 non-null int64
record_code_iodine_reason           0 non-null float64
sl_no                               67342 non-null int64
sex                                 67342 non-null int64
usual_residance                     67342 non-null int64
usual_residance_reason              7 non-null object
identification_code                 67338 non-null float64
age_code                            67342 non-null object
age                                 67342 non-null int64
date_of_birth                       67342 non-null int64
month_of_birth                      67342 non-null int64
year_of_birth                       67342 non-null int64
weight_measured                     67342 non-null int64
weight_in_kg                        67342 non-null float64
length_height_measured              67342 non-null int64
length_height_code                  67342 non-null object
length_height_cm                    67342 non-null float64
haemoglobin_test                    67342 non-null int64
haemoglobin                         67342 non-null int64
haemoglobin_level                   67342 non-null float64
bp_systolic                         67342 non-null int64
bp_systolic_2_reading               67342 non-null int64
bp_diastolic                        67342 non-null int64
bp_diastolic_2reading               67342 non-null int64
pulse_rate                          67342 non-null int64
pulse_rate_2_reading                67342 non-null int64
diabetes_test                       67342 non-null int64
fasting_blood_glucose               67342 non-null int64
fasting_blood_glucose_mg_dl         67342 non-null int64
marital_status                      67342 non-null int64
gauna_perfor_not_perfor             67342 non-null int64
duration_pregnanacy                 67342 non-null int64
first_breast_feeding                67342 non-null int64
is_cur_breast_feeding               67342 non-null int64
day_or_month_for_breast_feeding_    67342 non-null object
day_or_month_for_breast_feeding     67342 non-null int64
water_month                         67342 non-null int64
ani_milk_month                      67342 non-null int64
semisolid_month_or_day              67342 non-null int64
solid_month                         67342 non-null int64
vegetables_month_or_day             67342 non-null int64
illness_type                        67342 non-null int64
illness_duration                    67342 non-null int64
treatment_type                      67342 non-null int64
v54                                 0 non-null float64
dtypes: float64(6), int64(43), object(5)
memory usage: 27.7+ MB

In [5]:
data.columns.values

array(['state_code', 'district_code', 'rural_urban', 'stratum', 'psu_id',
       'ahs_house_unit', 'house_hold_no', 'date_survey',
       'test_salt_iodine', 'record_code_iodine',
       'record_code_iodine_reason', 'sl_no', 'sex', 'usual_residance',
       'usual_residance_reason', 'identification_code', 'age_code', 'age',
       'date_of_birth', 'month_of_birth', 'year_of_birth',
       'weight_measured', 'weight_in_kg', 'length_height_measured',
       'length_height_code', 'length_height_cm', 'haemoglobin_test',
       'haemoglobin', 'haemoglobin_level', 'bp_systolic',
       'bp_systolic_2_reading', 'bp_diastolic', 'bp_diastolic_2reading',
       'pulse_rate', 'pulse_rate_2_reading', 'diabetes_test',
       'fasting_blood_glucose', 'fasting_blood_glucose_mg_dl',
       'marital_status', 'gauna_perfor_not_perfor', 'duration_pregnanacy',
       'first_breast_feeding', 'is_cur_breast_feeding',
       'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'illness_duration', 'treatment_type', 'v54'], dtype=object)

In [6]:
data = data.drop([ 'psu_id','ahs_house_unit','house_hold_no', 'date_survey',
                  'test_salt_iodine', 'record_code_iodine_reason', 'sl_no', 'usual_residance_reason',
                  'identification_code', 'date_of_birth', 'year_of_birth', 'weight_measured',
                  'length_height_measured', 'length_height_code', 'haemoglobin_test', 'haemoglobin', 'bp_systolic',
                  'bp_systolic_2_reading', 'bp_diastolic', 'bp_diastolic_2reading', 'pulse_rate',
                  'pulse_rate_2_reading', 'diabetes_test', 'fasting_blood_glucose', 'fasting_blood_glucose_mg_dl',
                  'marital_status', 'gauna_perfor_not_perfor', 'duration_pregnanacy', 'illness_duration', 'v54'],
                axis = 1)

In [7]:
data.shape

(67342, 24)

In [8]:
data.columns.values

array(['state_code', 'district_code', 'rural_urban', 'stratum',
       'record_code_iodine', 'sex', 'usual_residance', 'age_code', 'age',
       'month_of_birth', 'weight_in_kg', 'length_height_cm',
       'haemoglobin_level', 'first_breast_feeding',
       'is_cur_breast_feeding', 'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'treatment_type'], dtype=object)

In [9]:
data = data.drop(data[(data['age_code'] == 'Y') & (data['age'] > 5) | (data['illness_type'] == -1)].index)

In [10]:
data.shape

(3499, 24)

In [11]:
data['illness_type'].value_counts()

0    2562
3     607
1     155
2     150
4      25
Name: illness_type, dtype: int64

In [12]:
data['illness_type'].value_counts() / 34.99

0    73.220920
3    17.347814
1     4.429837
2     4.286939
4     0.714490
Name: illness_type, dtype: float64

In [13]:
data['age_code'].value_counts()

Y    3098
M     395
D       6
Name: age_code, dtype: int64

In [14]:
print(data['rural_urban'].value_counts())
print(data['stratum'].value_counts())
print(data['record_code_iodine'].value_counts())
print(data['sex'].value_counts())
print(data['usual_residance'].value_counts())
print(data['age_code'].value_counts())
print(data['month_of_birth'].value_counts())

1    2725
2     774
Name: rural_urban, dtype: int64
2    1442
1    1283
0     774
Name: stratum, dtype: int64
3    3256
2     143
1     100
Name: record_code_iodine, dtype: int64
1    1847
2    1652
Name: sex, dtype: int64
1    3499
Name: usual_residance, dtype: int64
Y    3098
M     395
D       6
Name: age_code, dtype: int64
6     414
10    314
11    308
9     307
8     305
1     292
7     284
3     272
12    271
4     265
2     248
5     219
Name: month_of_birth, dtype: int64

In [15]:
data['illness_type'].groupby(data['month_of_birth']).median()

month_of_birth
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: illness_type, dtype: int64

In [16]:
data.shape

(3499, 24)

In [17]:
data['age_code'].value_counts()

Y    3098
M     395
D       6
Name: age_code, dtype: int64

In [18]:
data['record_code_iodine'].value_counts()

3    3256
2     143
1     100
Name: record_code_iodine, dtype: int64

In [19]:
data['sex'].value_counts()

1    1847
2    1652
Name: sex, dtype: int64

In [20]:
data['day_or_month_for_breast_feeding_'].value_counts()

M     1738
-1    1706
D       54
m        1
Name: day_or_month_for_breast_feeding_, dtype: int64

In [21]:
data['day_or_month_for_breast_feeding_'][data['day_or_month_for_breast_feeding_'] == 'm'] = 'M'
data['day_or_month_for_breast_feeding_'][data['day_or_month_for_breast_feeding_'] == 'd'] = 'D'

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
data['age_code'][data['age_code'] == 'd'] = 'D'
data['age_code'][data['age_code'] == 'm'] = 'M'
data['age_code'][data['age_code'] == 'y'] = 'Y'

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
data['day_or_month_for_breast_feeding_'].value_counts()

M     1739
-1    1706
D       54
Name: day_or_month_for_breast_feeding_, dtype: int64

In [24]:
#droping birth month
data = data.drop('month_of_birth', axis=1)

In [25]:
data.columns.unique()

Index(['state_code', 'district_code', 'rural_urban', 'stratum',
       'record_code_iodine', 'sex', 'usual_residance', 'age_code', 'age',
       'weight_in_kg', 'length_height_cm', 'haemoglobin_level',
       'first_breast_feeding', 'is_cur_breast_feeding',
       'day_or_month_for_breast_feeding_', 'day_or_month_for_breast_feeding',
       'water_month', 'ani_milk_month', 'semisolid_month_or_day',
       'solid_month', 'vegetables_month_or_day', 'illness_type',
       'treatment_type'],
      dtype='object')

In [26]:
data = data.drop('rural_urban',axis=1)

In [27]:
data.columns.values

array(['state_code', 'district_code', 'stratum', 'record_code_iodine',
       'sex', 'usual_residance', 'age_code', 'age', 'weight_in_kg',
       'length_height_cm', 'haemoglobin_level', 'first_breast_feeding',
       'is_cur_breast_feeding', 'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'treatment_type'], dtype=object)

In [28]:
data = data.drop(['stratum', 'usual_residance'],axis=1)

In [29]:
data.columns.values

array(['state_code', 'district_code', 'record_code_iodine', 'sex',
       'age_code', 'age', 'weight_in_kg', 'length_height_cm',
       'haemoglobin_level', 'first_breast_feeding',
       'is_cur_breast_feeding', 'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'treatment_type'], dtype=object)

In [30]:
data['weight_in_kg'][data[data['weight_in_kg'] == -1].index].value_counts()

-1.0    95
Name: weight_in_kg, dtype: int64

In [31]:
print(data['record_code_iodine'][data[data['record_code_iodine'] == -1].index].value_counts())
print(data['sex'][data[data['sex'] == -1].index].value_counts())
print(data['age_code'][data[data['age_code'] == -1].index].value_counts())
print(data['age'][data[data['age'] == -1].index].value_counts())
print(data['weight_in_kg'][data[data['weight_in_kg'] == -1].index].value_counts())
print(data['length_height_cm'][data[data['length_height_cm'] == -1].index].value_counts())
print(data['haemoglobin_level'][data[data['haemoglobin_level'] == -1].index].value_counts())
print(data['first_breast_feeding'][data[data['first_breast_feeding'] == -1].index].value_counts())
print(data['is_cur_breast_feeding'][data[data['is_cur_breast_feeding'] == -1].index].value_counts())
print(data['day_or_month_for_breast_feeding_'][data[data['day_or_month_for_breast_feeding_'] == -1].index].value_counts())
print(data['day_or_month_for_breast_feeding'][data[data['day_or_month_for_breast_feeding'] == -1].index].value_counts())
print(data['water_month'][data[data['water_month'] == -1].index].value_counts())
print(data['ani_milk_month'][data[data['ani_milk_month'] == -1].index].value_counts())
print(data['semisolid_month_or_day'][data[data['semisolid_month_or_day'] == -1].index].value_counts())
print(data['solid_month'][data[data['solid_month'] == -1].index].value_counts())
print(data['vegetables_month_or_day'][data[data['vegetables_month_or_day'] == -1].index].value_counts())

Series([], Name: record_code_iodine, dtype: int64)
Series([], Name: sex, dtype: int64)
Series([], Name: age_code, dtype: int64)
Series([], Name: age, dtype: int64)
-1.0    95
Name: weight_in_kg, dtype: int64
-1.0    112
Name: length_height_cm, dtype: int64
-1.0    1535
Name: haemoglobin_level, dtype: int64
-1    1699
Name: first_breast_feeding, dtype: int64
-1    1707
Name: is_cur_breast_feeding, dtype: int64
Series([], Name: day_or_month_for_breast_feeding_, dtype: int64)
-1    1709
Name: day_or_month_for_breast_feeding, dtype: int64
-1    1715
Name: water_month, dtype: int64
-1    1722
Name: ani_milk_month, dtype: int64
-1    1720
Name: semisolid_month_or_day, dtype: int64
-1    1726
Name: solid_month, dtype: int64
-1    1730
Name: vegetables_month_or_day, dtype: int64

In [32]:
data.shape

(3499, 20)

In [33]:
data['water_month'][data[data['water_month'] == -1].index].value_counts()

-1    1715
Name: water_month, dtype: int64

In [34]:
data['semisolid_month_or_day'][data[data['semisolid_month_or_day'] == -1].index].value_counts()

-1    1720
Name: semisolid_month_or_day, dtype: int64

In [35]:
data['is_cur_breast_feeding'][data[(data['is_cur_breast_feeding'] == -1)].index].value_counts()

-1    1707
Name: is_cur_breast_feeding, dtype: int64

In [36]:
data['is_cur_breast_feeding'][data[(data['is_cur_breast_feeding'] == -1) & (data['age']>2) & (data['age_code'] == 'Y')].index].value_counts()

-1    1655
Name: is_cur_breast_feeding, dtype: int64

In [37]:
# data['is_cur_breast_feeding'][data[(data['age_code'] == 'Y') & (data['age'] > 2) & (data['is_cur_breast_feeding'] == -1)].index] = 2
data.loc[((data['age']>2) & (data['age_code'] == 'Y') & (data['is_cur_breast_feeding'] == -1)),'is_cur_breast_feeding'] = 2

In [38]:
data['is_cur_breast_feeding'][data[data['is_cur_breast_feeding'] == -1].index].value_counts()

-1    52
Name: is_cur_breast_feeding, dtype: int64

In [39]:
data['is_cur_breast_feeding'] = data['is_cur_breast_feeding'].replace(-1, 1)

In [40]:
data['age'][data[data['is_cur_breast_feeding'] == -1].index]

Series([], Name: age, dtype: int64)

In [41]:
data['weight_in_kg'][data[(data['weight_in_kg'] == -1)].index].value_counts()

-1.0    95
Name: weight_in_kg, dtype: int64

In [42]:
data['age_code'][data[(data['weight_in_kg'] == -1)].index].value_counts()

Y    75
M    14
D     6
Name: age_code, dtype: int64

In [43]:
for y in data['age_code'].unique():
    for i in data['age'][data[data['age_code'] == y].index].unique():
        x = data['weight_in_kg'][data[(data['age_code'] == y) & (data['age'] == i) & (data['weight_in_kg'] != -1)].index].median()
        data.loc[((data['age_code'] == y) & (data['age'] == i) & ((data['weight_in_kg'] == -1) | (data['weight_in_kg'].isnull()))), 'weight_in_kg'] = x

In [46]:
for y in data['age_code'].unique():
    for i in data['age'][data[data['age_code'] == y].index].unique():
        x = data['weight_in_kg'][data[(data['age_code'] == y) & (data['age'] == i) & (data['weight_in_kg'] != -1)].index].median()
        data['weight_in_kg'] = data['weight_in_kg'].fillna(x)

In [47]:
data['weight_in_kg'][data[(data['weight_in_kg'] == -1)].index].value_counts()

Series([], Name: weight_in_kg, dtype: int64)

In [48]:
data['length_height_cm'][data[(data['length_height_cm'] == -1)].index].value_counts()

-1.0    112
Name: length_height_cm, dtype: int64

In [49]:
for y in data['age_code'].unique():
    for i in data['age'][data[data['age_code'] == y].index].unique():
        x = data['length_height_cm'][data[(data['age_code'] == y) & (data['age'] == i) & (data['length_height_cm'] != -1)].index].median()
        data.loc[((data['age_code'] == y) & (data['age'] == i) & ((data['length_height_cm'] == -1) | (data['length_height_cm'].isnull()))), 'length_height_cm'] = x
        data['length_height_cm'] = data['length_height_cm'].fillna(x)

In [50]:
for y in data['age_code'].unique():
    for i in data['age'][data[data['age_code'] == y].index].unique():
        x = data['length_height_cm'][data[(data['age_code'] == y) & (data['age'] == i) & (data['length_height_cm'] != -1)].index].median()
        data['length_height_cm'] = data['length_height_cm'].fillna(x)

In [51]:
data['length_height_cm'][data[(data['length_height_cm'] == -1)].index].value_counts()

Series([], Name: length_height_cm, dtype: int64)

In [52]:
data['haemoglobin_level'][data[(data['haemoglobin_level'] == -1)].index].value_counts()

-1.0    1535
Name: haemoglobin_level, dtype: int64

In [53]:
for y in data['age_code'].unique():
    for i in data['age'][data[data['age_code'] == y].index].unique():
        x = data['haemoglobin_level'][data[(data['age_code'] == y) & (data['age'] == i) & (data['haemoglobin_level'] != -1)].index].median()
        data.loc[((data['age_code'] == y) & (data['age'] == i) & ((data['haemoglobin_level'] == -1) | (data['haemoglobin_level'].isnull()))), 'haemoglobin_level'] = x

In [54]:
for y in data['age_code'].unique():
    for i in data['age'][data[data['age_code'] == y].index].unique():
        x = data['haemoglobin_level'][data[(data['age_code'] == y) & (data['age'] == i) & (data['haemoglobin_level'] != -1)].index].median()
        data['haemoglobin_level'] = data['haemoglobin_level'].fillna(x)

In [55]:
data['haemoglobin_level'][data[(data['haemoglobin_level'] == -1)].index].value_counts()

Series([], Name: haemoglobin_level, dtype: int64)

In [56]:
data['first_breast_feeding'][data[(data['first_breast_feeding'] == -1)].index].value_counts()

-1    1699
Name: first_breast_feeding, dtype: int64

In [57]:
for i in data['district_code'].unique():
    print(i)
    x = data['district_code'][data[data['district_code']==i].index].value_counts()
    print(x[i])
    print((data['first_breast_feeding'][data[data['district_code']==i].index].value_counts().sort_index())*100/x[i])
    print("----------------------------------------------------")

1
297
-1    45.117845
 1    49.158249
 2     5.050505
 3     0.336700
 4     0.336700
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
4
411
-1    40.145985
 1    12.895377
 2    46.958637
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
5
276
-1    46.376812
 1    40.942029
 2     9.420290
 3     2.898551
 5     0.362319
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
6
234
-1    50.854701
 1    40.170940
 2     5.128205
 3     2.564103
 4     0.427350
 5     0.854701
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
7
134
-1    79.104478
 1    17.164179
 2     3.731343
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
8
136
-1    73.529412
 1    24.264706
 2     1.470588
 3     0.735294
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
9
116
-1    68.103448
 1    29.310345
 2     2.586207
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
10
298
-1    53.020134
 1    30.201342
 2    11.744966
 3     3.020134
 4     1.677852
 5     0.335570
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
11
327
-1    51.987768
 1    36.085627
 2     9.785933
 3     1.834862
 5     0.305810
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
12
523
-1    48.183556
 1    32.313576
 2    13.766730
 3     3.632887
 4     1.338432
 5     0.764818
Name: first_breast_feeding, dtype: float64
----------------------------------------------------
13
747
-1    38.554217
 1    24.899598
 2    27.175368
 3     7.228916
 4     1.606426
 5     0.535475
Name: first_breast_feeding, dtype: float64
----------------------------------------------------

In [58]:
for i in data['district_code'].unique():
    x = data['first_breast_feeding'][data[(data['district_code'] == i) & (data['first_breast_feeding'] != -1)].index].value_counts()
    y = x[x == x.max()].index.item()
    data.loc[((data['district_code'] == i) & ((data['first_breast_feeding'] == -1) | (data['first_breast_feeding'].isnull()))), 'first_breast_feeding'] = y

In [59]:
for i in data['district_code'].unique():
    x = data['first_breast_feeding'][data[(data['district_code'] == i) & (data['first_breast_feeding'] != -1)].index].value_counts()
    y = x[x == x.max()].index.item()
    data['first_breast_feeding'] = data['first_breast_feeding'].fillna(y)

In [60]:
data['first_breast_feeding'][data[(data['first_breast_feeding'] == -1)].index].value_counts()

Series([], Name: first_breast_feeding, dtype: int64)

In [61]:
data['day_or_month_for_breast_feeding'][data[(data['day_or_month_for_breast_feeding'] == -1)].index].value_counts()

-1    1709
Name: day_or_month_for_breast_feeding, dtype: int64

In [62]:
for i in data['district_code'].unique():
    print(i)
    x = data['district_code'][data[data['district_code']==i].index].value_counts()
    print(x[i])
    print((data['day_or_month_for_breast_feeding'][data[data['district_code']==i].index].value_counts().sort_index())*100/x[i])
    print("----------------------------------------------------")

1
297
-1     45.454545
 0      1.683502
 1      0.336700
 2      2.020202
 3      2.020202
 4      5.723906
 6     18.181818
 7      3.367003
 8      2.356902
 9      3.367003
 10     1.010101
 11     2.356902
 12     5.050505
 13     0.336700
 14     0.336700
 15     0.336700
 18     4.377104
 20     1.010101
 23     0.336700
 28     0.336700
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
4
411
-1     40.145985
 0      0.973236
 1      4.866180
 2      4.866180
 3      6.326034
 4      6.569343
 5     11.435523
 6     22.384428
 7      0.729927
 8      0.729927
 10     0.486618
 24     0.486618
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
5
276
-1     47.101449
 0      2.536232
 1      1.449275
 2      3.623188
 3      3.623188
 4      9.057971
 5     22.101449
 6      7.971014
 8      0.362319
 9      1.086957
 10     0.362319
 11     0.362319
 15     0.362319
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
6
234
-1     52.991453
 0      3.418803
 1      3.418803
 2      1.709402
 3      2.136752
 4     10.256410
 5      5.555556
 6     16.666667
 7      0.854701
 10     0.427350
 12     0.427350
 15     0.427350
 16     0.854701
 18     0.854701
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
7
134
-1     79.104478
 0      2.238806
 3      0.746269
 5      1.492537
 6      3.731343
 7      0.746269
 8      0.746269
 9      1.492537
 10     2.985075
 12     1.492537
 14     0.746269
 16     2.238806
 18     1.492537
 22     0.746269
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
8
136
-1     73.529412
 1      0.735294
 2      0.735294
 4      2.205882
 5      1.470588
 6     15.441176
 8      1.470588
 9      0.735294
 10     0.735294
 11     0.735294
 14     1.470588
 16     0.735294
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
9
116
-1     68.103448
 2      0.862069
 4      1.724138
 5      3.448276
 6      7.758621
 7      0.862069
 8      2.586207
 10     0.862069
 11     1.724138
 13     0.862069
 15     0.862069
 16     1.724138
 17     0.862069
 18     6.896552
 21     0.862069
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
10
298
-1     53.355705
 0      1.342282
 1      1.006711
 3      0.671141
 4      0.671141
 5      2.684564
 6     24.496644
 7      1.342282
 8      3.020134
 9      2.684564
 10     3.691275
 11     2.348993
 12     0.671141
 15     0.335570
 16     0.671141
 18     0.335570
 20     0.335570
 24     0.335570
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
11
327
-1     51.987768
 0      0.305810
 1      1.529052
 2      1.529052
 3      1.223242
 4      0.917431
 5      3.363914
 6     22.629969
 7      3.058104
 8      2.752294
 9      1.834862
 10     1.223242
 11     1.529052
 12     1.223242
 13     0.611621
 14     0.305810
 15     0.305810
 16     1.223242
 18     0.917431
 20     0.611621
 22     0.305810
 24     0.611621
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
12
523
-1     48.183556
 0      0.956023
 1      0.764818
 2      1.529637
 3      1.529637
 4      2.294455
 5      3.632887
 6     16.252390
 7      1.912046
 8      2.868069
 9      2.868069
 10     2.485660
 11     2.676864
 12     2.294455
 13     1.338432
 14     2.294455
 15     1.147228
 16     1.147228
 17     0.573614
 18     1.529637
 19     0.573614
 20     0.573614
 21     0.382409
 22     0.191205
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------
13
747
-1     38.688086
 0      4.685408
 1      7.496653
 2      6.559572
 3      9.638554
 4     11.378849
 5      6.157965
 6     11.914324
 7      0.535475
 8      0.669344
 10     0.937082
 11     0.401606
 12     0.133869
 15     0.133869
 16     0.133869
 17     0.133869
 39     0.133869
 40     0.133869
 41     0.133869
Name: day_or_month_for_breast_feeding, dtype: float64
----------------------------------------------------

In [63]:
data.loc[(data['day_or_month_for_breast_feeding'] == -1), 'day_or_month_for_breast_feeding'] = 6

In [64]:
data['day_or_month_for_breast_feeding'][data[(data['day_or_month_for_breast_feeding'] == -1)].index].value_counts()

Series([], Name: day_or_month_for_breast_feeding, dtype: int64)

In [65]:
print(data['water_month'][data[data['water_month'] == -1].index].value_counts())
print(data['ani_milk_month'][data[data['ani_milk_month'] == -1].index].value_counts())
print(data['semisolid_month_or_day'][data[data['semisolid_month_or_day'] == -1].index].value_counts())
print(data['solid_month'][data[data['solid_month'] == -1].index].value_counts())
print(data['vegetables_month_or_day'][data[data['vegetables_month_or_day'] == -1].index].value_counts())

-1    1715
Name: water_month, dtype: int64
-1    1722
Name: ani_milk_month, dtype: int64
-1    1720
Name: semisolid_month_or_day, dtype: int64
-1    1726
Name: solid_month, dtype: int64
-1    1730
Name: vegetables_month_or_day, dtype: int64

In [66]:
for i in data['district_code'].unique():
    x = data['water_month'][data[(data['district_code'] == i) & (data['water_month'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data.loc[((data['district_code'] == i) & ((data['water_month'] == -1) | (data['water_month'].isnull()))), 'water_month'] = y[0]

In [67]:
for i in data['district_code'].unique():
    x = data['water_month'][data[(data['district_code'] == i) & (data['water_month'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data['water_month'] = data['water_month'].fillna(y[0])

In [68]:
for i in data['district_code'].unique():
    x = data['ani_milk_month'][data[(data['district_code'] == i) & (data['ani_milk_month'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data.loc[((data['district_code'] == i) & ((data['ani_milk_month'] == -1) | (data['ani_milk_month'].isnull()))), 'ani_milk_month'] = y[0]
    #data['ani_milk_month'] = data['ani_milk_month'].fillna(y[0])

In [69]:
for i in data['district_code'].unique():
    x = data['ani_milk_month'][data[(data['district_code'] == i) & (data['ani_milk_month'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data['ani_milk_month'] = data['ani_milk_month'].fillna(y[0])

In [70]:
for i in data['district_code'].unique():
    x = data['semisolid_month_or_day'][data[(data['district_code'] == i) & (data['semisolid_month_or_day'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data.loc[((data['district_code'] == i) & ((data['semisolid_month_or_day'] == -1) | (data['semisolid_month_or_day'].isnull()))), 'semisolid_month_or_day'] = y[0]
    #data['semisolid_month_or_day'] = data['semisolid_month_or_day'].fillna(y[0])

In [71]:
for i in data['district_code'].unique():
    x = data['semisolid_month_or_day'][data[(data['district_code'] == i) & (data['semisolid_month_or_day'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data['semisolid_month_or_day'] = data['semisolid_month_or_day'].fillna(y[0])

In [72]:
for i in data['district_code'].unique():
    x = data['solid_month'][data[(data['district_code'] == i) & (data['solid_month'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data.loc[((data['district_code'] == i) & ((data['solid_month'] == -1) | (data['solid_month'].isnull()))), 'solid_month'] = y[0]
    #data['solid_month'] = data['solid_month'].fillna(y[0])

In [73]:
for i in data['district_code'].unique():
    x = data['solid_month'][data[(data['district_code'] == i) & (data['solid_month'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data['solid_month'] = data['solid_month'].fillna(y[0])

In [74]:
for i in data['district_code'].unique():
    x = data['vegetables_month_or_day'][data[(data['district_code'] == i) & (data['vegetables_month_or_day'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data.loc[((data['district_code'] == i) & ((data['vegetables_month_or_day'] == -1) | (data['vegetables_month_or_day'].isnull()))), 'vegetables_month_or_day'] = y[0]
    #data['vegetables_month_or_day'] = data['vegetables_month_or_day'].fillna(y[0])

In [75]:
for i in data['district_code'].unique():
    x = data['vegetables_month_or_day'][data[(data['district_code'] == i) & (data['vegetables_month_or_day'] != -1)].index].value_counts()
    y = x[x == x.max()].index.tolist()
    data['vegetables_month_or_day'] = data['vegetables_month_or_day'].fillna(y[0])

In [76]:
print(data['water_month'][data[data['water_month'] == -1].index].value_counts())
print(data['ani_milk_month'][data[data['ani_milk_month'] == -1].index].value_counts())
print(data['semisolid_month_or_day'][data[data['semisolid_month_or_day'] == -1].index].value_counts())
print(data['solid_month'][data[data['solid_month'] == -1].index].value_counts())
print(data['vegetables_month_or_day'][data[data['vegetables_month_or_day'] == -1].index].value_counts())

Series([], Name: water_month, dtype: int64)
Series([], Name: ani_milk_month, dtype: int64)
Series([], Name: semisolid_month_or_day, dtype: int64)
Series([], Name: solid_month, dtype: int64)
Series([], Name: vegetables_month_or_day, dtype: int64)

In [77]:
data = data.drop('district_code', axis=1)

In [78]:
data.columns.values

array(['state_code', 'record_code_iodine', 'sex', 'age_code', 'age',
       'weight_in_kg', 'length_height_cm', 'haemoglobin_level',
       'first_breast_feeding', 'is_cur_breast_feeding',
       'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'treatment_type'], dtype=object)

In [79]:
data.shape

(3499, 19)

In [80]:
for i in data[data['day_or_month_for_breast_feeding_'] == 'D'].index:
    if data['day_or_month_for_breast_feeding'][i] < 15:
        data['day_or_month_for_breast_feeding'][i] = 0
    else :
        data['day_or_month_for_breast_feeding'][i] = 1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [81]:
for i in data[data['age_code'] == 'Y'].index:
    x = data['age'][i]
    data['age'][i] = x*12

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [82]:
for i in data[data['age_code'] == 'D'].index:
    x = data['age'][i]
    if data['age'][i] < 15:
        data['age'][i] = 0
    else :
        data['age'][i] = 1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [83]:
data.columns.values

array(['state_code', 'record_code_iodine', 'sex', 'age_code', 'age',
       'weight_in_kg', 'length_height_cm', 'haemoglobin_level',
       'first_breast_feeding', 'is_cur_breast_feeding',
       'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'treatment_type'], dtype=object)

In [84]:
data = data.drop(['age_code', 'day_or_month_for_breast_feeding_'] , axis=1)

In [85]:
data = data.drop('treatment_type' , axis=1)

In [86]:
data.columns.values

array(['state_code', 'record_code_iodine', 'sex', 'age', 'weight_in_kg',
       'length_height_cm', 'haemoglobin_level', 'first_breast_feeding',
       'is_cur_breast_feeding', 'day_or_month_for_breast_feeding',
       'water_month', 'ani_milk_month', 'semisolid_month_or_day',
       'solid_month', 'vegetables_month_or_day', 'illness_type'], dtype=object)

In [87]:
data.shape

(3499, 16)

In [88]:
for i in data.columns:
    print(i)
    print(data['state_code'][data[i] == -1].value_counts())
    print(data['state_code'][data[i].isnull()].value_counts())

state_code
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
record_code_iodine
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
sex
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
age
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
weight_in_kg
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
length_height_cm
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
haemoglobin_level
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
first_breast_feeding
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
is_cur_breast_feeding
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
day_or_month_for_breast_feeding
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
water_month
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
ani_milk_month
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
semisolid_month_or_day
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
solid_month
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
vegetables_month_or_day
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)
illness_type
Series([], Name: state_code, dtype: int64)
Series([], Name: state_code, dtype: int64)

In [89]:
data.to_csv('../cleaned_data/UT.csv', encoding='utf-8', index=False)