In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
ass = pd.read_csv("./cleaned data/AS.csv", low_memory=False, index_col=False)
mp = pd.read_csv("./cleaned data/MP.csv", low_memory=False, index_col=False)
up = pd.read_csv("./cleaned data/UP.csv", low_memory=False, index_col=False)
jh = pd.read_csv("./cleaned data/JH.csv", low_memory=False, index_col=False)
rj = pd.read_csv("./cleaned data/RJ.csv", low_memory=False, index_col=False)
bh = pd.read_csv("./cleaned data/BH.csv", low_memory=False, index_col=False)
cg = pd.read_csv("./cleaned data/CG.csv", low_memory=False, index_col=False)
od = pd.read_csv("./cleaned data/OD.csv", low_memory=False, index_col=False)
ut = pd.read_csv("./cleaned data/UT.csv", low_memory=False, index_col=False)

In [66]:
up.isnull().sum()

state_code                           0
record_code_iodine                   0
sex                                  0
age                                  0
weight_in_kg                       282
length_height_cm                   282
haemoglobin_level                  274
first_breast_feeding                 0
is_cur_breast_feeding                0
day_or_month_for_breast_feeding      0
water_month                          0
ani_milk_month                       0
semisolid_month_or_day               0
solid_month                          0
vegetables_month_or_day              0
illness_type                         0
treatment_type                       0
dtype: int64

In [11]:
frames = [ ut, cg, jh, ass, od, rj, mp, bh, up ]

In [13]:
result = pd.concat(frames)

In [23]:
result = result.drop(['treatment_type'], axis=1)

In [24]:
result.describe()

,state_code,record_code_iodine,sex,age,weight_in_kg,length_height_cm,haemoglobin_level,first_breast_feeding,is_cur_breast_feeding,day_or_month_for_breast_feeding,water_month,ani_milk_month,semisolid_month_or_day,solid_month,vegetables_month_or_day,illness_type
count,120974.000000,120974.000000,120974.000000,120969.000000,120299.000000,120299.000000,120087.000000,120969.000000,120969.000000,120969.000000,120969.000000,120969.000000,120969.000000,120969.000000,120969.000000,120969.000000
mean,14.013127,2.754013,1.474565,28.333193,10.725708,83.574595,9.049273,1.418049,1.663608,5.456125,4.654531,4.332259,5.888368,6.455489,6.447495,0.577090
std,6.165432,0.522006,0.499355,16.354566,4.830260,14.885953,1.774920,0.624158,0.473281,2.879880,2.408832,3.221255,3.341329,4.626277,4.968280,1.023997
min,5.000000,1.000000,1.000000,0.000000,1.000000,16.799999,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,3.000000,1.000000,12.000000,8.400000,73.199997,8.326735,1.000000,1.000000,5.000000,4.000000,0.000000,6.000000,0.000000,0.000000,0.000000
50%,10.000000,3.000000,1.000000,24.000000,10.600000,84.300003,8.926318,1.000000,2.000000,6.000000,5.000000,6.000000,7.000000,7.000000,8.000000,0.000000
75%,21.000000,3.000000,2.000000,36.000000,12.800000,94.316797,9.800000,2.000000,2.000000,6.000000,6.000000,6.000000,8.000000,10.000000,10.000000,1.000000
max,23.000000,3.000000,2.000000,324.000000,609.200010,205.300000,18.000000,5.000000,11.000000,38.000000,56.000000,96.000000,85.000000,92.000000,36.000000,4.000000

In [30]:
for i in result.columns:
    print(i)
    print(result[i][result[i] == -1].value_counts())

state_code
Series([], Name: state_code, dtype: int64)
record_code_iodine
Series([], Name: record_code_iodine, dtype: int64)
sex
Series([], Name: sex, dtype: int64)
age
Series([], Name: age, dtype: int64)
weight_in_kg
Series([], Name: weight_in_kg, dtype: int64)
length_height_cm
Series([], Name: length_height_cm, dtype: int64)
haemoglobin_level
Series([], Name: haemoglobin_level, dtype: int64)
first_breast_feeding
Series([], Name: first_breast_feeding, dtype: int64)
is_cur_breast_feeding
Series([], Name: is_cur_breast_feeding, dtype: int64)
day_or_month_for_breast_feeding
Series([], Name: day_or_month_for_breast_feeding, dtype: int64)
water_month
Series([], Name: water_month, dtype: int64)
ani_milk_month
Series([], Name: ani_milk_month, dtype: int64)
semisolid_month_or_day
Series([], Name: semisolid_month_or_day, dtype: int64)
solid_month
Series([], Name: solid_month, dtype: int64)
vegetables_month_or_day
Series([], Name: vegetables_month_or_day, dtype: int64)
illness_type
Series([], Name: illness_type, dtype: int64)

In [52]:
for i in result.columns:
    print(i)
    print(result['state_code'][result[i].isnull()].value_counts())
    print("-------------------------")

state_code
Series([], Name: state_code, dtype: int64)
-------------------------
record_code_iodine
Series([], Name: state_code, dtype: int64)
-------------------------
sex
Series([], Name: state_code, dtype: int64)
-------------------------
age
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
weight_in_kg
9.0     282
8.0      82
23.0     79
21.0     69
10.0     62
20.0     44
18.0     43
22.0      8
5.0       6
Name: state_code, dtype: int64
-------------------------
length_height_cm
9.0     282
8.0      82
23.0     79
21.0     69
10.0     62
20.0     44
18.0     43
22.0      8
5.0       6
Name: state_code, dtype: int64
-------------------------
haemoglobin_level
9.0     274
20.0    146
5.0     101
21.0     86
8.0      82
23.0     77
10.0     74
18.0     43
22.0      4
Name: state_code, dtype: int64
-------------------------
first_breast_feeding
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
is_cur_breast_feeding
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
day_or_month_for_breast_feeding
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
water_month
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
ani_milk_month
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
semisolid_month_or_day
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
solid_month
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
vegetables_month_or_day
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------
illness_type
20.0    3
18.0    2
Name: state_code, dtype: int64
-------------------------