In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ut = pd.read_csv("data/CAB_05_UT.csv", low_memory=False)

In [3]:
ut.head()

,state_code,district_code,rural_urban,stratum,psu_id,ahs_house_unit,house_hold_no,date_survey,test_salt_iodine,record_code_iodine,...,day_or_month_for_breast_feeding,water_month,ani_milk_month,semisolid_month_or_day,solid_month,vegetables_month_or_day,illness_type,illness_duration,treatment_type,v54
0,5,1,2,0,2824556,29,4,19/05/2014,30,3,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,NaN
1,5,1,2,0,2824557,28,3,19/05/2014,30,3,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,NaN
2,5,1,2,0,2824558,97,5,20/05/2014,30,3,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,NaN
3,5,1,2,0,2823671,32,1,15/05/2014,30,3,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,NaN
4,5,1,2,0,2824555,26,7,19/05/2014,30,3,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,NaN

In [4]:
ut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67342 entries, 0 to 67341
Data columns (total 54 columns):
state_code                          67342 non-null int64
district_code                       67342 non-null int64
rural_urban                         67342 non-null int64
stratum                             67342 non-null int64
psu_id                              67342 non-null int64
ahs_house_unit                      67342 non-null int64
house_hold_no                       67342 non-null int64
date_survey                         67342 non-null object
test_salt_iodine                    67342 non-null int64
record_code_iodine                  67342 non-null int64
record_code_iodine_reason           0 non-null float64
sl_no                               67342 non-null int64
sex                                 67342 non-null int64
usual_residance                     67342 non-null int64
usual_residance_reason              7 non-null object
identification_code                 67338 non-null float64
age_code                            67342 non-null object
age                                 67342 non-null int64
date_of_birth                       67342 non-null int64
month_of_birth                      67342 non-null int64
year_of_birth                       67342 non-null int64
weight_measured                     67342 non-null int64
weight_in_kg                        67342 non-null float64
length_height_measured              67342 non-null int64
length_height_code                  67342 non-null object
length_height_cm                    67342 non-null float64
haemoglobin_test                    67342 non-null int64
haemoglobin                         67342 non-null int64
haemoglobin_level                   67342 non-null float64
bp_systolic                         67342 non-null int64
bp_systolic_2_reading               67342 non-null int64
bp_diastolic                        67342 non-null int64
bp_diastolic_2reading               67342 non-null int64
pulse_rate                          67342 non-null int64
pulse_rate_2_reading                67342 non-null int64
diabetes_test                       67342 non-null int64
fasting_blood_glucose               67342 non-null int64
fasting_blood_glucose_mg_dl         67342 non-null int64
marital_status                      67342 non-null int64
gauna_perfor_not_perfor             67342 non-null int64
duration_pregnanacy                 67342 non-null int64
first_breast_feeding                67342 non-null int64
is_cur_breast_feeding               67342 non-null int64
day_or_month_for_breast_feeding_    67342 non-null object
day_or_month_for_breast_feeding     67342 non-null int64
water_month                         67342 non-null int64
ani_milk_month                      67342 non-null int64
semisolid_month_or_day              67342 non-null int64
solid_month                         67342 non-null int64
vegetables_month_or_day             67342 non-null int64
illness_type                        67342 non-null int64
illness_duration                    67342 non-null int64
treatment_type                      67342 non-null int64
v54                                 0 non-null float64
dtypes: float64(6), int64(43), object(5)
memory usage: 27.7+ MB

In [5]:
ut.describe

<bound method NDFrame.describe of        state_code  district_code  rural_urban  stratum   psu_id  \
0               5              1            2        0  2824556
1               5              1            2        0  2824557
2               5              1            2        0  2824558
3               5              1            2        0  2823671
4               5              1            2        0  2824555
5               5              1            2        0  2823667
6               5              1            2        0  2824554
7               5              1            2        0  2823668
8               5              1            2        0  2823669
9               5              1            2        0  2823670
10              5              1            2        0  2824551
11              5              1            2        0  2824552
12              5              1            2        0  2823666
13              5              1            2        0  2824553
14              5              1            2        0  2823664
15              5              1            2        0  2823665
16              5              1            2        0  2824547
17              5              1            2        0  2823663
18              5              1            2        0  2824548
19              5              1            2        0  2824549
20              5              1            2        0  2824550
21              5              1            2        0  2824546
22              5              1            2        0  2823660
23              5              1            2        0  2823661
24              5              1            2        0  2823662
25              5              1            2        0  2823658
26              5              1            2        0  2824542
27              5              1            2        0  2823657
28              5              1            2        0  2824543
29              5              1            2        0  2824544
...           ...            ...          ...      ...      ...
67312           5              1            1        1  2825581
67313           5              1            1        1  2826120
67314           5              1            1        1  2823155
67315           5              1            1        1  2825179
67316           5              1            1        1  2825180
67317           5              1            1        1  2827426
67318           5              1            1        1  2826729
67319           5              1            1        1  2822320
67320           5              1            1        1  2824817
67321           5              1            1        1  2824146
67322           5              1            1        1  2825175
67323           5              1            1        1  2825176
67324           5              1            1        1  2827430
67325           5              1            1        1  2827434
67326           5              1            1        1  2827431
67327           5              1            1        1  2827432
67328           5              1            1        1  2822321
67329           5              1            1        1  2828065
67330           5              1            1        1  2828066
67331           5              1            1        1  2828067
67332           5              1            1        1  2825583
67333           5              1            1        1  2825584
67334           5              1            1        1  2826115
67335           5              1            1        1  2826116
67336           5              1            1        1  2826117
67337           5              1            1        1  2826118
67338           5              1            1        1  2824145
67339           5              1            1        1  2824141
67340           5              1            1        1  2824144
67341           5              1            1        1  2823145

       ahs_house_unit  house_hold_no date_survey  test_salt_iodine  \
0                  29              4  19/05/2014                30
1                  28              3  19/05/2014                30
2                  97              5  20/05/2014                30
3                  32              1  15/05/2014                30
4                  26              7  19/05/2014                30
5                  32              2  15/05/2014                30
6                  24              2  18/05/2014                30
7                  21              1  17/05/2014                30
8                 105              1  17/05/2014                30
9                  72              3  16/05/2014                30
10                 36              1  19/05/2014                30
11                106              1  19/05/2014                30
12                 32              1  15/05/2014                30
13                 28              2  19/05/2014                30
14                 23              9  15/05/2014                30
15                 72              2  17/05/2014                30
16                 24              1  18/05/2014                30
17                 49              1  16/05/2014                30
18                 24              2  18/05/2014                30
19                 13              2  18/05/2014                30
20                106              1  19/05/2014                30
21                 98              1  20/05/2014                30
22                 72              2  17/05/2014                30
23                 23              1  15/05/2014                30
24                101              1  17/05/2014                30
25                 23              1  15/05/2014                30
26                 26              7  19/05/2014                30
27                 73              1  14/05/2014                30
28                 36              1  19/05/2014                30
29                 24              2  18/05/2014                30
...               ...            ...         ...               ...
67312             100              1  18/01/2014                30
67313             279              1  05/09/2014                 0
67314             247              1  13/12/2013                30
67315               7              1  15/02/2014                30
67316              33              2  17/02/2014                30
67317               7              1  03/02/2014                 0
67318             226              1  24/12/2013                30
67319             415              1  15/04/2014                30
67320              60              1  02/06/2014                30
67321               9              3  08/10/2013                30
67322               7              1  15/02/2014                30
67323              84              1  13/02/2014                30
67324              55              1  13/03/2014                30
67325             104              1  03/11/2014                30
67326             178              2  03/03/2014                30
67327             192              2  03/03/2014                30
67328             229              1  29/04/2014                30
67329              21              1  26/03/2014                30
67330              46              1  27/03/2014                30
67331             284              1  04/04/2014                30
67332             144              2  20/01/2014                30
67333             195              1  22/01/2014                30
67334              31              1  05/04/2014                30
67335              31              1  05/04/2014                30
67336             286              1  05/08/2014                30
67337             377              1  05/10/2014                 0
67338               6              2  08/10/2013                30
67339              24              1  09/10/2013                30
67340             177              1  18/10/2013                30
67341               8              1  16/11/2013                30

       record_code_iodine ...   day_or_month_for_breast_feeding  water_month  \
0                       3 ...                                -1           -1
1                       3 ...                                -1           -1
2                       3 ...                                -1           -1
3                       3 ...                                -1           -1
4                       3 ...                                -1           -1
5                       3 ...                                -1           -1
6                       3 ...                                -1           -1
7                       3 ...                                -1           -1
8                       3 ...                                -1           -1
9                       3 ...                                -1           -1
10                      3 ...                                -1           -1
11                      3 ...                                -1           -1
12                      3 ...                                -1           -1
13                      3 ...                                -1           -1
14                      3 ...                                -1           -1
15                      3 ...                                -1           -1
16                      3 ...                                -1           -1
17                      3 ...                                -1           -1
18                      3 ...                                -1           -1
19                      3 ...                                -1           -1
20                      3 ...                                -1           -1
21                      3 ...                                -1           -1
22                      3 ...                                -1           -1
23                      3 ...                                -1           -1
24                      3 ...                                -1           -1
25                      3 ...                                -1           -1
26                      3 ...                                -1           -1
27                      3 ...                                -1           -1
28                      3 ...                                -1           -1
29                      3 ...                                -1           -1
...                   ... ...                               ...          ...
67312                   3 ...                                -1           -1
67313                   1 ...                                -1           -1
67314                   3 ...                                -1           -1
67315                   3 ...                                -1           -1
67316                   3 ...                                -1           -1
67317                   1 ...                                -1           -1
67318                   3 ...                                -1           -1
67319                   3 ...                                -1           -1
67320                   3 ...                                -1           -1
67321                   3 ...                                -1           -1
67322                   3 ...                                -1           -1
67323                   3 ...                                -1           -1
67324                   3 ...                                -1           -1
67325                   3 ...                                -1           -1
67326                   3 ...                                -1           -1
67327                   3 ...                                -1           -1
67328                   3 ...                                -1           -1
67329                   3 ...                                -1           -1
67330                   3 ...                                -1           -1
67331                   3 ...                                -1           -1
67332                   3 ...                                -1           -1
67333                   3 ...                                -1           -1
67334                   3 ...                                -1           -1
67335                   3 ...                                -1           -1
67336                   3 ...                                -1           -1
67337                   1 ...                                -1           -1
67338                   3 ...                                -1           -1
67339                   3 ...                                -1           -1
67340                   3 ...                                -1           -1
67341                   3 ...                                -1           -1

       ani_milk_month  semisolid_month_or_day solid_month  \
0                  -1                      -1          -1
1                  -1                      -1          -1
2                  -1                      -1          -1
3                  -1                      -1          -1
4                  -1                      -1          -1
5                  -1                      -1          -1
6                  -1                      -1          -1
7                  -1                      -1          -1
8                  -1                      -1          -1
9                  -1                      -1          -1
10                 -1                      -1          -1
11                 -1                      -1          -1
12                 -1                      -1          -1
13                 -1                      -1          -1
14                 -1                      -1          -1
15                 -1                      -1          -1
16                 -1                      -1          -1
17                 -1                      -1          -1
18                 -1                      -1          -1
19                 -1                      -1          -1
20                 -1                      -1          -1
21                 -1                      -1          -1
22                 -1                      -1          -1
23                 -1                      -1          -1
24                 -1                      -1          -1
25                 -1                      -1          -1
26                 -1                      -1          -1
27                 -1                      -1          -1
28                 -1                      -1          -1
29                 -1                      -1          -1
...               ...                     ...         ...
67312              -1                      -1          -1
67313              -1                      -1          -1
67314              -1                      -1          -1
67315              -1                      -1          -1
67316              -1                      -1          -1
67317              -1                      -1          -1
67318              -1                      -1          -1
67319              -1                      -1          -1
67320              -1                      -1          -1
67321              -1                      -1          -1
67322              -1                      -1          -1
67323              -1                      -1          -1
67324              -1                      -1          -1
67325              -1                      -1          -1
67326              -1                      -1          -1
67327              -1                      -1          -1
67328              -1                      -1          -1
67329              -1                      -1          -1
67330              -1                      -1          -1
67331              -1                      -1          -1
67332              -1                      -1          -1
67333              -1                      -1          -1
67334              -1                      -1          -1
67335              -1                      -1          -1
67336              -1                      -1          -1
67337              -1                      -1          -1
67338              -1                      -1          -1
67339              -1                      -1          -1
67340              -1                      -1          -1
67341              -1                      -1          -1

       vegetables_month_or_day illness_type  illness_duration  treatment_type  \
0                           -1           -1                -1              -1
1                           -1           -1                -1              -1
2                           -1           -1                -1              -1
3                           -1           -1                -1              -1
4                           -1           -1                -1              -1
5                           -1           -1                -1              -1
6                           -1           -1                -1              -1
7                           -1           -1                -1              -1
8                           -1           -1                -1              -1
9                           -1           -1                -1              -1
10                          -1           -1                -1              -1
11                          -1           -1                -1              -1
12                          -1           -1                -1              -1
13                          -1           -1                -1              -1
14                          -1           -1                -1              -1
15                          -1           -1                -1              -1
16                          -1           -1                -1              -1
17                          -1           -1                -1              -1
18                          -1           -1                -1              -1
19                          -1           -1                -1              -1
20                          -1           -1                -1              -1
21                          -1           -1                -1              -1
22                          -1           -1                -1              -1
23                          -1           -1                -1              -1
24                          -1           -1                -1              -1
25                          -1           -1                -1              -1
26                          -1           -1                -1              -1
27                          -1           -1                -1              -1
28                          -1           -1                -1              -1
29                          -1           -1                -1              -1
...                        ...          ...               ...             ...
67312                       -1           -1                -1              -1
67313                       -1           -1                -1              -1
67314                       -1           -1                -1              -1
67315                       -1           -1                -1              -1
67316                       -1           -1                -1              -1
67317                       -1           -1                -1              -1
67318                       -1           -1                -1              -1
67319                       -1           -1                -1              -1
67320                       -1           -1                -1              -1
67321                       -1           -1                -1              -1
67322                       -1           -1                -1              -1
67323                       -1           -1                -1              -1

In [6]:
ut.columns.values

array(['state_code', 'district_code', 'rural_urban', 'stratum', 'psu_id',
       'ahs_house_unit', 'house_hold_no', 'date_survey',
       'test_salt_iodine', 'record_code_iodine',
       'record_code_iodine_reason', 'sl_no', 'sex', 'usual_residance',
       'usual_residance_reason', 'identification_code', 'age_code', 'age',
       'date_of_birth', 'month_of_birth', 'year_of_birth',
       'weight_measured', 'weight_in_kg', 'length_height_measured',
       'length_height_code', 'length_height_cm', 'haemoglobin_test',
       'haemoglobin', 'haemoglobin_level', 'bp_systolic',
       'bp_systolic_2_reading', 'bp_diastolic', 'bp_diastolic_2reading',
       'pulse_rate', 'pulse_rate_2_reading', 'diabetes_test',
       'fasting_blood_glucose', 'fasting_blood_glucose_mg_dl',
       'marital_status', 'gauna_perfor_not_perfor', 'duration_pregnanacy',
       'first_breast_feeding', 'is_cur_breast_feeding',
       'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'illness_duration', 'treatment_type', 'v54'], dtype=object)

In [7]:
ut['stratum'].unique()

array([0, 1, 2])

In [8]:
ut['rural_urban'].unique()

array([2, 1])

In [9]:
ut = ut.drop(['psu_id','ahs_house_unit', 'house_hold_no', 'date_survey'], axis=1)

In [10]:
ut = ut.drop(['record_code_iodine_reason','usual_residance_reason'], axis = 1)

In [11]:
ut.columns.values

array(['state_code', 'district_code', 'rural_urban', 'stratum',
       'test_salt_iodine', 'record_code_iodine', 'sl_no', 'sex',
       'usual_residance', 'identification_code', 'age_code', 'age',
       'date_of_birth', 'month_of_birth', 'year_of_birth',
       'weight_measured', 'weight_in_kg', 'length_height_measured',
       'length_height_code', 'length_height_cm', 'haemoglobin_test',
       'haemoglobin', 'haemoglobin_level', 'bp_systolic',
       'bp_systolic_2_reading', 'bp_diastolic', 'bp_diastolic_2reading',
       'pulse_rate', 'pulse_rate_2_reading', 'diabetes_test',
       'fasting_blood_glucose', 'fasting_blood_glucose_mg_dl',
       'marital_status', 'gauna_perfor_not_perfor', 'duration_pregnanacy',
       'first_breast_feeding', 'is_cur_breast_feeding',
       'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'illness_duration', 'treatment_type', 'v54'], dtype=object)

In [12]:
ut.shape

(67342, 48)

In [13]:
ut['test_salt_iodine'].unique()

array([30,  0, 15,  7,  3, 33, 20, 17, 18, 13,  1])

In [14]:
ut = ut.drop(['sl_no','identification_code'], axis = 1)

In [15]:
ut['age_code'].unique()

array(['Y', 'M', 'y', 'D'], dtype=object)

In [16]:
ut['age'].unique()

array([  8,   9,  10,  11,  12,  13,   4,   1,   2,   3,   5,   6,   7,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  90,  89,  91,
        92,  93,  94,  95,  97,  98,  96,  99, 100])

In [17]:
ut['weight_measured'].unique()

array([-1,  1,  2,  4,  3])

In [18]:
ut['is_cur_breast_feeding'].unique()

array([-1,  1,  2])

In [19]:
ut.shape

(67342, 46)

In [20]:
ut['v54'].unique()

array([ nan])

In [21]:
ut = ut.drop(['v54'], axis=1)

In [22]:
ut.columns.values

array(['state_code', 'district_code', 'rural_urban', 'stratum',
       'test_salt_iodine', 'record_code_iodine', 'sex', 'usual_residance',
       'age_code', 'age', 'date_of_birth', 'month_of_birth',
       'year_of_birth', 'weight_measured', 'weight_in_kg',
       'length_height_measured', 'length_height_code', 'length_height_cm',
       'haemoglobin_test', 'haemoglobin', 'haemoglobin_level',
       'bp_systolic', 'bp_systolic_2_reading', 'bp_diastolic',
       'bp_diastolic_2reading', 'pulse_rate', 'pulse_rate_2_reading',
       'diabetes_test', 'fasting_blood_glucose',
       'fasting_blood_glucose_mg_dl', 'marital_status',
       'gauna_perfor_not_perfor', 'duration_pregnanacy',
       'first_breast_feeding', 'is_cur_breast_feeding',
       'day_or_month_for_breast_feeding_',
       'day_or_month_for_breast_feeding', 'water_month', 'ani_milk_month',
       'semisolid_month_or_day', 'solid_month', 'vegetables_month_or_day',
       'illness_type', 'illness_duration', 'treatment_type'], dtype=object)

In [23]:
ut.shape

(67342, 45)