In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [2]:
ass = pd.read_csv("./cleaned data/AS.csv", low_memory=False, index_col=False)
mp = pd.read_csv("./cleaned data/MP.csv", low_memory=False, index_col=False)
up = pd.read_csv("./cleaned data/UP.csv", low_memory=False, index_col=False)
jh = pd.read_csv("./cleaned data/JH.csv", low_memory=False, index_col=False)
rj = pd.read_csv("./cleaned data/RJ.csv", low_memory=False, index_col=False)
bh = pd.read_csv("./cleaned data/BH.csv", low_memory=False, index_col=False)
cg = pd.read_csv("./cleaned data/CG.csv", low_memory=False, index_col=False)
od = pd.read_csv("./cleaned data/OD.csv", low_memory=False, index_col=False)
ut = pd.read_csv("./cleaned data/UT.csv", low_memory=False, index_col=False)

In [3]:
frames = [ ut, cg, jh, ass, od, rj, mp, bh, up ]

In [4]:
result = pd.concat(frames)

In [5]:
result = result.drop(['treatment_type'], axis=1)

In [8]:
result = result.drop(result[(result['weight_in_kg'].isnull()) & (result['weight_in_kg'].isnull())].index)

In [9]:
result = result.drop(result[(result['haemoglobin_level'].isnull())].index)

In [12]:
result.isnull().sum().sum()

0

In [13]:
result.groupby(['state_code'])['length_height_cm'].mean()

state_code
5.0     86.273560
8.0     84.284886
9.0     81.319572
10.0    83.044609
18.0    86.165794
20.0    85.230291
21.0    84.309879
22.0    84.931508
23.0    85.235022
Name: length_height_cm, dtype: float64

In [14]:
result.groupby(['state_code', 'sex'])['length_height_cm'].mean()

state_code  sex
5.0         1      86.775910
            2      85.717790
8.0         1      84.630406
            2      83.907955
9.0         1      81.631399
            2      80.970772
10.0        1      82.847863
            2      83.261188
18.0        1      86.599632
            2      85.687860
20.0        1      85.616457
            2      84.820511
21.0        1      84.844245
            2      83.722821
22.0        1      84.413812
            2      85.533816
23.0        1      85.049696
            2      85.442577
Name: length_height_cm, dtype: float64

In [15]:
result.groupby(['state_code'])['weight_in_kg'].mean()

state_code
5.0     11.741458
8.0     10.801541
9.0     10.435524
10.0    10.427538
18.0    11.312061
20.0    10.974762
21.0    10.794475
22.0    10.597504
23.0    11.138301
Name: weight_in_kg, dtype: float64

In [16]:
result.groupby(['state_code', 'sex'])['weight_in_kg'].mean()

state_code  sex
5.0         1      11.902085
            2      11.563750
8.0         1      10.987350
            2      10.598841
9.0         1      10.575979
            2      10.278416
10.0        1      10.409367
            2      10.447540
18.0        1      11.559792
            2      11.039151
20.0        1      11.124187
            2      10.816198
21.0        1      11.065410
            2      10.496823
22.0        1      10.624647
            2      10.565924
23.0        1      11.258074
            2      11.004162
Name: weight_in_kg, dtype: float64

In [17]:
result.groupby(['state_code'])['illness_type'].value_counts()

state_code  illness_type
5.0         0.0              2331
            3.0               551
            1.0               146
            2.0               138
            4.0                23
8.0         0.0              8936
            1.0              1188
            2.0               725
            3.0               481
            4.0               101
9.0         0.0             22165
            2.0              5627
            1.0              3295
            3.0              2352
            4.0               581
10.0        0.0             14999
            2.0              2542
            3.0               766
            1.0               657
            4.0                21
18.0        0.0              6464
            2.0               455
            3.0               150
            1.0                71
            4.0                35
20.0        0.0              6124
            2.0               811
            3.0               760
            1.0               230
            4.0                97
21.0        0.0              6964
            3.0              1894
            2.0              1593
            1.0              1219
            4.0               546
22.0        0.0              4246
            2.0              1095
            1.0               755
            3.0               214
            4.0                57
23.0        0.0             10605
            2.0              1759
            1.0              1140
            3.0               384
            4.0                57
Name: illness_type, dtype: int64

In [21]:
result.groupby(['state_code'])['illness_type'].value_counts(normalize=True) * 100

state_code  illness_type
5.0         0.0             73.095014
            3.0             17.278144
            1.0              4.578238
            2.0              4.327375
            4.0              0.721229
8.0         0.0             78.173388
            1.0             10.392792
            2.0              6.342402
            3.0              4.207856
            4.0              0.883562
9.0         0.0             65.152851
            2.0             16.540270
            1.0              9.685479
            3.0              6.913580
            4.0              1.707819
10.0        0.0             79.004477
            2.0             13.389518
            3.0              4.034764
            1.0              3.460627
            4.0              0.110614
18.0        0.0             90.090592
            2.0              6.341463
            3.0              2.090592
            1.0              0.989547
            4.0              0.487805
20.0        0.0             76.340065
            2.0             10.109698
            3.0              9.473947
            1.0              2.867115
            4.0              1.209175
21.0        0.0             57.007204
            3.0             15.504257
            2.0             13.040275
            1.0              9.978716
            4.0              4.469548
22.0        0.0             66.687608
            2.0             17.198052
            1.0             11.858018
            3.0              3.361081
            4.0              0.895241
23.0        0.0             76.048763
            2.0             12.613840
            1.0              8.174973
            3.0              2.753675
            4.0              0.408749
Name: illness_type, dtype: float64

In [23]:
result.groupby(['state_code', 'age'])['illness_type'].value_counts()

state_code  age    illness_type
5.0         2.0    0.0               21
                   3.0                7
                   2.0                4
            5.0    0.0               17
                   3.0               12
                   1.0                2
            6.0    0.0               20
                   3.0                9
                   1.0                2
                   2.0                1
            7.0    0.0               23
                   3.0                9
                   1.0                4
                   2.0                1
                   4.0                1
            8.0    0.0               28
                   3.0               14
                   2.0                5
                   1.0                1
            9.0    0.0               34
                   3.0               10
                   2.0                3
                   1.0                1
            10.0   0.0               14
                   3.0               11
                   1.0                2
                   2.0                2
            11.0   0.0               21
                   3.0                5
                   2.0                3
                                   ...
23.0        11.0   1.0               30
                   2.0               20
                   3.0                6
                   4.0                1
            12.0   0.0              801
                   2.0              228
                   1.0              218
                   3.0               76
                   4.0               10
            24.0   0.0             1746
                   2.0              437
                   1.0              174
                   3.0               77
                   4.0               10
            36.0   0.0             2735
                   2.0              605
                   1.0               95
                   3.0               52
                   4.0               16
            48.0   0.0             2986
                   2.0               79
                   1.0               73
                   3.0               53
                   4.0                5
            60.0   0.0             1243
                   1.0               46
                   2.0               27
                   3.0               13
                   4.0                6
            324.0  0.0                1
Name: illness_type, Length: 652, dtype: int64

## Scatter Plot

In [24]:
result.groupby(['state_code'])['first_breast_feeding'].mean()

state_code
5.0     1.400439
8.0     1.529700
9.0     1.631540
10.0    1.428496
18.0    1.359861
20.0    1.427823
21.0    1.162001
22.0    1.102246
23.0    1.209896
Name: first_breast_feeding, dtype: float64

In [25]:
result.groupby(['state_code'])['water_month'].mean()

state_code
5.0     5.325180
8.0     5.260957
9.0     3.860964
10.0    4.237293
18.0    5.300627
20.0    5.298803
21.0    5.544368
22.0    4.424533
23.0    5.332951
Name: water_month, dtype: float64

In [26]:
result.groupby(['state_code'])['ani_milk_month'].mean()

state_code
5.0     4.777360
8.0     5.167702
9.0     3.679659
10.0    5.111035
18.0    5.370592
20.0    3.616679
21.0    2.718075
22.0    3.802576
23.0    5.763428
Name: ani_milk_month, dtype: float64

In [27]:
result.groupby(['state_code'])['semisolid_month_or_day'].mean()

state_code
5.0     7.160865
8.0     6.278978
9.0     6.026308
10.0    6.063629
18.0    5.951220
20.0    6.464099
21.0    5.762688
22.0    4.007853
23.0    5.616207
Name: semisolid_month_or_day, dtype: float64

In [28]:
result.groupby(['state_code'])['solid_month'].mean()

state_code
5.0     8.337723
8.0     5.725921
9.0     6.779306
10.0    7.635238
18.0    6.966411
20.0    7.036026
21.0    5.753029
22.0    3.719805
23.0    5.760488
Name: solid_month, dtype: float64

In [29]:
result.groupby(['state_code'])['vegetables_month_or_day'].mean()

state_code
5.0     7.902791
8.0     6.094655
9.0     6.427102
10.0    7.934422
18.0    7.164878
20.0    7.038145
21.0    5.625246
22.0    3.880635
23.0    5.851990
Name: vegetables_month_or_day, dtype: float64